<h1>School Classes</h1>
  <%= form_for @school_class do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <div>
      <%= f.label :room_number%>
      <%= f.number_field :room_number, min: 1, max: 20%>
  </div>
  <%= f.submit "Update School class"%>
  <% end %>
